<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Purchase Invoice Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/chitiethoadonnhap"><h3>Purchase Invoice Detail page</h3></a>
        <h2>ADD PURCHASE INVOICE DETAIL</h2>
        <form action="/chitiethoadonnhap" method="POST">
            <div class="form-group">
                <label>Purchase Invoice Detail ID</label>
                <input class="form-control" type="text" name='MaHDN'>
            </div>
            <div class="form-group">
                <label>Product ID</label>
                <input class="form-control" type="text" name='MaSP'>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="text" name='SoLuongNhap'>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="text" name='DonGiaNhap'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD PURCHASE INVOICE DETAIL">
        </form>
    </div>
</body>
</html>
