<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Purchase Invoices</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/hoadonnhap"><h3>Purchase Invoice page</h3></a>
        <h2>ADD PURCHASE INVOICE</h2>
        <form action="/hoadonnhap" method="POST">
            <div class="form-group">
                <label>Purchase Invoice ID</label>
                <input class="form-control" type="text" name='MaHDN'>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" type="day" name='NgayNhap'>
            </div>
            <div class="form-group">
                <label>Costs</label>
                <input class="form-control" type="number" name='TongTienTra'>
            </div>
            <div class="form-group">
                <label>Staff ID</label>
                <input class="form-control" type="text" name='MaNV'>
            </div>
            <div class="form-group">
                <label>Supplier ID</label>
                <input class="form-control" type="text" name='MaNCC'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD PURCHASE INVOICE">
        </form>
    </div>
</body>
</html>
