<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/khachhang"><h3>Customer Page</h3></a>
        <h2>ADD CUSTOMER</h2>
        <form action="/khachhang" method="POST">
            <div class="form-group">
                <label>Customer ID</label>
                <input class="form-control" type="text" name='MaKH'>
            </div>
            <div class="form-group">
                <label>Customer Name</label>
                <input class="form-control" type="text" name='TenKH'>
            </div>
            <div class="form-group">
                <label>Gender</label>
                <input class="form-control" type="text" name='GioiTinh'>
            </div>
            <div class="form-group">
                <label>Date of Birth</label>
                <input class="form-control" type="date" name='NgaySinh'>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input class="form-control" type="text" name='DiaChi'>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" name='Email'>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input class="form-control" type="number" name='SDT'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD CUSTOMER">
        </form>
    </div>
</body>
</html>