<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/anh"><h3>Image Page</h3></a>
        <h2>ADD IMAGE</h2>
        <form action="/anh" method="POST">
            <div class="form-group">
                <label>URL</label>
                <input class="form-control" type="text" name='Url'>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" name='MoTa'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD IMAGE">
        </form>
    </div>
</body>
</html>