<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Comment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/binhluan"><h3>Comment page</h3></a>
        <h2>ADD COMMENT</h2>
        <form action="/binhluan" method="POST">
            <div class="form-group">
                <label>Comment ID</label>
                <input class="form-control" type="text" name='MaBL'>
            </div>
            <div class="form-group">
                <label>Content</label>
                <input class="form-control" type="text" name='NoiDung'>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" type="text" name='NgayDang'>
            </div>
            <div class="form-group">
                <label>Product ID</label>
                <input class="form-control" type="text" name='MaSP'>
            </div>
            <div class="form-group">
                <label>Customer ID</label>
                <input class="form-control" type="text" name='MaKH'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD COMMENT">
        </form>
    </div>
</body>
</html>
