<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Size</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/size"><h3>Size Page</h3></a>
        <h2>ADD SIZE</h2>
        <form action="/size" method="POST">
            <div class="form-group">
                <label>Size ID</label>
                <input class="form-control" type="text" name='MaSize'>
            </div>
            <div class="form-group">
                <label>Size Name</label>
                <input class="form-control" type="text" name='TenSize'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD SIZE">
        </form>
    </div>
</body>
</html>