<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Sales Invoice Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/chitiethoadonban"><h3>Sales Invoice Detail page</h3></a>
        <h2>ADD SALES INVOICE DETAIL</h2>
        <form action="/chitiethoadonban" method="POST">
            <div class="form-group">
                <label>Sales Invoice Detail ID</label>
                <input class="form-control" type="text" name='MaHDB'>
            </div>
            <div class="form-group">
                <label>Product ID</label>
                <input class="form-control" type="text" name='MaSP'>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="text" name='SoLuongBan'>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="text" name='DonGiaBan'>
            </div>
            <div class="form-group">
                <label>Discount</label>
                <input class="form-control" type="text" name='GiamGia'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD SALES INVOICE DETAIL">
        </form>
    </div>
</body>
</html>
