<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Material</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/chatlieu"><h3>Material Page</h3></a>
        <h2>ADD MATERIAL</h2>
        <form action="/chatlieu" method="POST">
            <div class="form-group">
                <label>Material ID</label>
                <input class="form-control" type="text" name='MaChatLieu'>
            </div>
            <div class="form-group">
                <label>Material Name</label>
                <input class="form-control" type="text" name='TenChatLieu'>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" name='MoTa'>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD MATERIAL">
        </form>
    </div>
</body>
</html>