<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/donhang"><h3>Order Page</h3></a>
        <h2>ADD ORDER</h2>
        <form action="/donhang" method="POST">
            <div class="form-group">
                <label>Order ID</label>
                <input class="form-control" type="text" name='MaDonHang'>
            </div>
            <div class="form-group">
                <label>Customer ID</label>
                <input class="form-control" type="text" name='MaKH'>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" type="date" name='NgayLap'>
            </div>
            <div class="form-group">
                <label>Total Amount</label>
                <input class="form-control" type="number" name='TongTien'>
            </div>
            <div class="form-group">
                <label>Status</label>
                <input class="form-control" type="text" name='TrangThai'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD ORDER">
        </form>
    </div>
</body>
</html>