<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Membership Card</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="/thethanhvien"><h3>Membership Card Page</h3></a>
        <h2>ADD MEMBERSHIP CARD</h2>
        <form action="/thethanhvien" method="POST">
            <div class="form-group">
                <label>Membership Card ID</label>
                <input class="form-control" type="text" name='MaSoThe'>
            </div>
            <div class="form-group">
                <label>Point</label>
                <input class="form-control" type="text" name='DiemTichLuy'>
            </div>
            <div class="form-group">
                <label>Issue Date</label>
                <input class="form-control" type="date" name='NgayCap'>
            </div>
            <div class="form-group">
                <label>Expiry Date</label>
                <input class="form-control" type="date" name='NgayHetHan'>
            </div>
            <div class="form-group">
                <label>Customer ID</label>
                <input class="form-control" type="text" name='MaKH'>
            </div>
            <div class="form-group">
                <label>Membership Tier ID</label>
                <input class="form-control" type="text" name='MaLoaiThe'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="ADD MEMBERSHIP CARD">
        </form>
    </div>
</body>
</html>