<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Category Manager</h2>
        <a href="loaisanpham/add-category" class="btn btn-success float-right">Add Category</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <% categories.forEach((entry) => { %>
            <tr ondblclick="handleUpdateCategory('<%= entry.MaLoai %>')">
                <td><%= entry.MaLoai %></td>
                <td><%= entry.TenLoai %></td>
                <td>
                    <input class="btn btn-primary" type="button" value="Update"
                        onclick="handleUpdateCategory('<%= entry.MaLoai %>')">
                </td>
            </tr>
            <% }) %>
        </table>
        <script>
            function handleUpdateCategory(value) {
                $(location).attr('href', 'loaisanpham/update/' + value);
            }
        </script>
    </div>
</body>
</html>
