<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Participation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/thamgiakm"><h3>Participation Page</h3></a>
        <h2>UPDATE PARTICIPATION</h2>
        <form action="/thamgiakm/<%= participation._id %>" method="POST">
            <div class="form-group">
                <label>Customer ID</label>
                <input class="form-control" type="text" name='MaKH' value="<%= participation.MaKH %>">
            </div>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" type="date" name='NgayTG' value="<%= participation.NgayTG %>">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="delete-btn" class="btn btn-secondary" type="button" value="DELETE"
                onclick="handleDeleteParticipation('<%= participation._id %>')">
        </form>
    </div>
    <script>
        function handleDeleteParticipation(value) {
            $.ajax({
                url: '/thamgiakm/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/');
                }
            })
        }
    </script>
</body>
</html>
