<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/loaisanpham"><h3>Category Page</h3></a>
        <h2>UPDATE CATEGORY</h2>
        <form action="/loaisanpham/update/<%= category.MaLoai %>" method="POST">
            <div class="form-group">
                <label>Category ID</label>
                <input class="form-control" type="text" name='MaLoai' value="<%= category.MaLoai %>">
            </div>
            <div class="form-group">
                <label>Category Name</label>
                <input class="form-control" type="text" name='TenLoai' value="<%= category.TenLoai %>">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="delete-btn" class="btn btn-secondary" type="button" value="DELETE"
                onclick="handleDeleteCategory('<%= category.MaLoai %>')">
        </form>
    </div>
    <script>
        function handleDeleteCategory(value) {
            $.ajax({
                url: '/loaisanpham/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/loaisanpham');
                }
            })
        }
    </script>
</body>
</html>
