<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Size</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/size"><h3>Size Page</h3></a>
        <h2>UPDATE SIZE</h2>
        <form action="/size/<%= size._id %>" method="POST">
            <div class="form-group">
                <label>Size ID</label>
                <input class="form-control" type="text" name='MaSize' value="<%= size.MaSize %>">
            </div>
            <div class="form-group">
                <label>Size Name</label>
                <input class="form-control" type="text" name='TenSize' value="<%= size.TenSize %>">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="delete-btn" class="btn btn-secondary" type="button" value="DELETE"
                onclick="handleDeleteSize('<%= size._id %>')">
        </form>
    </div>
    <script>
        function handleDeleteSize(value) {
            $.ajax({
                url: '/size/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/');
                }
            })
        }
    </script>
</body>
</html>
