<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/anh"><h3>Image Page</h3></a>
        <h2>UPDATE IMAGE</h2>
        <form action="/anh/<%= image._id %>" method="POST">
            <div class="form-group">
                <label>URL</label>
                <input class="form-control" type="text" name='Url' value="<%= image.Url %>">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" name='MoTa' value="<%= image.MoTa %>">
            </div>
            <input id="update-btn" class="btn btn-primary" type="submit" value="SAVE">
            <input id="delete-btn" class="btn btn-secondary" type="button" value="DELETE"
                onclick="handleDeleteImage('<%= image._id %>')">
        </form>
    </div>
    <script>
        function handleDeleteImage(value) {
            $.ajax({
                url: '/anh/' + value,
                type: 'DELETE',
                success: function (result) {
                    $(location).attr('href', '/');
                }
            })
        }
    </script>
</body>
</html>
